a {
    color: cadetblue !important;
}
.heading{
    text-align: center;
    color: rgb(31, 134, 141);
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.question-list{
    border: 1px solid rgb(218, 216, 213);
    padding: 15px;
    margin: 10px;
}
.question-list h3{
    margin: 0;
    padding: 0;
}
.question-list a ,.question-title{
    font-size: 18px;
    text-decoration: none;
    color: rgb(10, 104, 104);
}
.answer-wrapper{
    border-bottom: 1px solid #a39a9a;
    margin-bottom: 10px;
    padding: 5px;
}
.my-question{
    display: flex;
    justify-content: space-between;
    
}